<div class="jumbotron modal-header">
	<h3 class="modal-title" id="modal-title">AddTask</h3>
</div>
<div class="modal-body" id="modal-body">
	<form name="myForm" role="form" class="well well-sm">
		<div class="row">
			<!-- <div class="col-md-6 col-lg-6"> -->
                <div class="form-group col-md-3 col-lg-3">
					<label for="date">date</label>
					<input type="date" class="form-control" id="date" name="date" data-ng-model="date.selected" data-ng-change="loadGrid();" />
                </div>
                <!-- <datepicker>
                    <input input type="text" class="form-control" id="date" name="date" data-ng-model="AddTask.date" data-ng-change="loadGrid();"/>
                  </datepicker> -->

                <div class="form-group col-md-3 col-lg-3">
                    <label for="Team">Team Name</label>
                    <div class="dropdown">

                        <select class="form-control" data-ng-options="Team.team_id as Team.team_name for Team in TeamList" data-ng-change="selectTask();selectBuild();" data-ng-model="team.selected">
                            <option value="">Select the Team</option>
               
                        </select>
                        
                    </div>
                </div>
       
                <div class="form-group col-md-3 col-lg-3">
                    <label for="Build">Build Name</label>
                    <div class="dropdown">

                        <select class="form-control" data-ng-options="Build.build_no as Build.build_name for Build in BuildList" data-ng-model="build.selected">
                            <option value="">Select the Build</option>
               
                        </select>
                        
                    </div>
                </div>

                <div class="form-group col-md-3 col-lg-3">
                    <label for="Task">Task Name</label>
                    <div class="dropdown">

                        <select class="form-control" data-ng-options="Task.task_id as Task.task_name for Task in TaskList" data-ng-model="task.selected" data-ng-change="selectsubTask()">
                            <option value="">Select the Task</option>
               
                        </select>
                        
                    </div>
                </div>
                <div class="form-group col-md-3 col-lg-3">
                    <label for="subTask">Sub Task Name</label>
                    <div class="dropdown">

                        <select class="form-control" data-ng-options="subTask.sub_task_id as subTask.sub_task_name for subTask in subTaskList" data-ng-model="subtask.selected">
                            <option value="">Select the subTask</option>
               
                        </select>
                        
                    </div>
                </div>

                <div class="form-group col-md-3 col-lg-3">
					<label for="task_desc">task_desc</label>
					<input type="text" class="form-control" id="task_desc" name="task_desc" data-ng-model="AddTask.task_desc"  />
                </div>
                <div class="form-group col-md-3 col-lg-3">
					<label for="count">count</label>
					<input type="text" class="form-control" id="count" name="count" data-ng-model="AddTask.count"  />
                </div>
                <div class="form-group col-md-3 col-lg-3">
					<label for="noofdevice">noofdevice</label>
					<input type="text" class="form-control" id="noofdevice" name="noofdevice" data-ng-model="AddTask.noofdevice"  />
                </div>
                <div class="form-group col-md-3 col-lg-3">
					<label for="time">time</label>
					<input type="text" class="form-control" id="time" name="time" required pattern="[0-0][0-8]:[0-5][0-9]+" placeholder="for example 07:59" data-ng-model="AddTask.time"  />
                </div>
            
                <div class="form-group col-md-3 col-lg-3">
					<label for="cmds">cmds</label>
					<input type="text" class="form-control" id="cmds" name="cmds" data-ng-model="AddTask.cmds"  />
                </div>
		</div>
	</form>
</div>
<div class="modal-footer">
	<button class="btn btn-primary" ng-disabled="myForm.$invalid" type="button" ng-click="saveAddTask(AddTask)">Save</button>
	<button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
</div>
<div class="box box-solid box-primary">

    <div class="box-header">
        AddTask
    </div>
    <div class="box-body">
        <button type="button" ng-click="addAddTaskModel()" class="btn btn-sm btn-success">
            <i class="glyphicon glyphicon-plus">
            </i> Add New
        </button>
        <div style="overflow-x:auto;">
            <table ng-table="tableParams" class="table table-striped table-responsive" show-filter="true">

                <tr ng-repeat="row in $data">
                    <td class="text-center" title="'team_id'" filter="{team_id : 'text'}" sortable="'team_id'">{{ row.team_id }}</td>
                    <td class="text-center" title="'build'" filter="{build : 'text'}" sortable="'build'">{{ row.build }}</td>
                    <td class="text-center" title="'tasks_id'" filter="{tasks_id : 'text'}" sortable="'tasks_id'">{{ row.tasks_id }}</td>
                    <td class="text-center" title="'sub_task_id'" filter="{sub_task_id : 'text'}" sortable="'sub_task_id'">{{ row.sub_task_id }}</td>
                    <td class="text-center" title="'task_desc'" filter="{task_desc : 'text'}" sortable="'task_desc'">{{ row.task_desc }}</td>

                    <td class="text-center" title="'count'" filter="{count : 'text'}" sortable="'password'">{{ row.count }}</td>
                    <td class="text-center" title="'time'" filter="{time : 'text'}" sortable="'time'">{{ row.time }}</td>
                    <td class="text-center" title="'date'" filter="{date : 'text'}" sortable="'date'">{{ row.date }}</td>

                    <!-- <td class="text-center" title="'host_name_1'" filter="{host_name_1 : 'text'}" sortable="'host_name_1'">{{ row.host_name_1 }}</td>
                    <td class="text-center" title="'host_name_2'" filter="{host_name_2 : 'text'}" sortable="'host_name_2'">{{ row.host_name_2 }}</td>
                    <td class="text-center" title="'below_on'" filter="{below_on : 'text'}" sortable="'below_on'">{{ row.below_on }}</td>

                    <td class="text-center" title="'manager'" filter="{manager : 'text'}" sortable="'manager'">{{ row.manager }}</td>
                    <td class="text-center" title="'approved_by'" filter="{approved_by : 'text'}" sortable="'approved_by'">{{ row.approved_by }}</td>
                    <td class="text-center" title="'user_status'" filter="{user_status : 'text'}" sortable="'user_status'">{{ row.user_status }}</td>

                    <td class="text-center" title="'user_activation'" filter="{user_activation : 'text'}" sortable="'user_activation'">{{ row.user_activation }}</td>
                    <td class="text-center" title="'user_deletion'" filter="{user_deletion : 'text'}" sortable="'user_deletion'">{{ row.user_deletion }}</td>

                    <td title="'last_entry_on'" filter="{last_entry_on : 'text'}" sortable="'last_entry_on'">{{ row.last_entry_on | date : "dd.MM.y" }}</td>
                    <td title="'create_date'" filter="{create_date : 'text'}" sortable="'create_date'">{{ row.create_date | date : "dd.MM.y" }}</td>
                    <td title="'maintain_date'" filter="{maintain_date : 'text'}" sortable="'maintain_date'">{{ row.maintain_date | date : "dd.MM.y" }}</td> -->
                    <!--<td class="text-center" title="'Owner'" filter="{Owner : 'text'}" sortable="'Owner'">{{ row.Owner }}</td>-->
                    <td class="text-center" title="'Action'">
                        <div class="col-md-offset-4">
                            <button AddTask="button" ng-click="editAddTaskModel(row)" class="btn btn-sm btn-primary">
                                <i class="glyphicon glyphicon-pencil">
                                </i>
                            </button>
                            <button AddTask="button" ng-click="removeAddTask(row)" class="btn btn-sm btn-danger">
                                <i class="glyphicon glyphicon-remove-circle">
                                </i>
                            </button>
                        </div>
                    </td>
                </tr>



                <!--<tfoot>
                    <tr>
                        <td class="text-center" st-pagination="" st-items-by-page="noOfRows" colspan="10"></td>
                    </tr>
                </tfoot>-->
            </table>
        </div>
    </div>
</div>
