<div class="jumbotron modal-header">
    <h3 class="modal-title" id="modal-title">Task</h3>
</div>
<div class="modal-body" id="modal-body">
    <form name="myForm" role="form" class="well well-sm">
        <div class="row">
            <div class="col-md-6 col-lg-6">
                <div class="form-group">
                        <label for="status">Status </label>  
                        <switch id="status" class="col-md-push-3" name="status" ng-model="Task.status" class="switch small green" data-ng-init="Task.status"></switch>
                    </div>
 
                    <div class="form-group">
                            <label for="deletion">Deletion</label>
                            <switch id="deletion" name="deletion"  class="col-md-push-3" ng-model="Task.deletion" class="switch small green" data-ng-init="Task.deletion"></switch>
                        </div>
        
            <div ng-show="$root.team_count > 1">
                <div class="form-group">
                    <label for="Team">Team Name</label>
                    <div class="dropdown">
                        <select class="form-control" id="Team" name="Team" data-ng-options="Team.team_id as Team.team_name for Team in TeamList" data-ng-change="loadGrid()" data-ng-model="team.selected" data-ng-init="team.selected = Task.team_id" required>
                            <option value="">Select the Team</option>
                        </select>               
                    </div>
                    <span ng-show="myForm.Team.$touched && myForm.Team.$invalid" class="text-danger">*required Team</span>
                </div>
            </div> 
            
                <div class="form-group">
                    <label for="task">Task Name</label>
                    <input type="text" class="form-control" id="task" name="task" data-ng-model="Task.task_name" required/>
                    <span ng-show="myForm.task.$touched && myForm.task.$invalid" class="text-danger">*required Task</span>
                </div>

                <div class="form-group">
                    <label for="about_cf">About CF</label>
                    <switch id="about_cf" class="col-md-push-3" name="about_cf" ng-model="Task.about_cf" class="switch small green" data-ng-init="Task.about_cf"></switch>
                </div>

                <div class="form-group>
                        <label for="device_count">Device Count</label>
                        <input type="number" class="form-control" id="device_count" name="device_count" data-ng-model="Task.device_count" max="6" ng-max="6" placeholder="Only 0-6"/>
                    </div>

                <div class="form-group">
                    <label for="have_st">Have ST</label>
                    <div class="dropdown">
                    <select class="form-control" data-ng-model="Task.have_st" data-ng-init = " Task.have_st = Task.have_st">
                        <option value="">---SELECT---</option>
                        <option value="1">YES</option>
                        <option value="0">NO</option>
                    </select>
                </div>
             </div>

                <div class="form-group">
                        <label for="op_type">OP Type</label>
                        <div class="dropdown">
                        <select class="form-control" data-ng-model="Task.op_type" data-ng-init = "Task.op_type = Task.op_type">
                            <option value="">---SELECT---</option>
                            <option value="1">True</option>
                            <option value="0">False</option>
                        </select>
                    </div>
                 </div
        </div>
        </div>
    </div>
    </form>

</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-disabled="myForm.$invalid" type="button" ng-click="saveTask(Task)">Save</button>
    <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
</div>
