<div class="box box-solid box-primary">

    <div class="box-header">
        Team
    </div>
    <div class="box-body">
        <button Team="button" ng-click="addTeamModel()" class="btn btn-sm btn-success">
            <i class="glyphicon glyphicon-plus">
            </i> Add New
        </button>
        <div style="overflow-x:auto;">
            <table ng-table="tableParams" class="table table-condensed table-bordered table-striped" show-filter="true">

                <tr ng-repeat="row in $data">
                    <td class="text-center" title="'Team ID'" filter="{team_id : 'text'}" sortable="'team_id'">{{ row.team_id }}</td>
                    <td class="text-center" title="'Team Name'" filter="{team_name : 'text'}" sortable="'team_name'">{{ row.team_name }}</td>
                    <td class="text-center" title="'Added By'" filter="{user_name : 'text'}" sortable="'user_name'">{{ row.user_name }}</td>
                    
                    <td class="text-center" title="'Team Status'" filter="{status : 'text'}" sortable="'status'">
                            <span data-ng-if="row.status === 1" class="label label-success">Active</span>
                            <span data-ng-if="row.status === 0" class="label label-danger">InActive</span>
                    </td>
                    <!-- <td class="text-center" title="'team_deletion'" filter="{team_deletion : 'text'}" sortable="'team_deletion'">{{ row.team_deletion }}</td> -->
                 
                    <td title="'Last Modified'" filter="{last_modify : 'text'}" sortable="'last_modify'">{{ row.last_modify | date : "dd.MM.y" }}</td>
                    <td title="'Created Date'" filter="{create_date : 'text'}" sortable="'create_date'">{{ row.create_date | date : "dd.MM.y" }}</td>
                    <!-- <td title="'maintain_date'" filter="{maintain_date : 'text'}" sortable="'maintain_date'">{{ row.maintain_date | date : "dd.MM.y" }}</td> -->
                    <!--<td class="text-center" title="'Owner'" filter="{Owner : 'text'}" sortable="'Owner'">{{ row.Owner }}</td>-->
                    <td class="text-center" title="'Action'">
                        <div class="col-md-offset-4">
                            <button Team="button" ng-click="editTeamModel(row)" class="btn btn-sm btn-primary">
                                <i class="glyphicon glyphicon-pencil">
                                </i>
                            </button>
                            <button Team="button" ng-click="removeTeam(row)" class="btn btn-sm btn-danger">
                                <i class="glyphicon glyphicon-remove-circle">
                                </i>
                            </button>
                        </div>
                    </td>
                </tr>



                <!--<tfoot>
                    <tr>
                        <td class="text-center" st-pagination="" st-items-by-page="noOfRows" colspan="10"></td>
                    </tr>
                </tfoot>-->
            </table>
        </div>
    </div>
</div>


