<div class="jumbotron modal-header">
        <h3 class="modal-title" id="modal-title">SubTask</h3>
    </div>
    <div class="modal-body" id="modal-body">
        <form name="myForm" role="form" class="well well-sm">
            <div class="row">
                <div class="col-md-6 col-lg-6">
                    <div class="form-group">
                            <label for="task_status">Status</label>
                            <switch id="task_status" name="task_status" class="col-md-push-3" ng-model="SubTask.task_status" class="switch small green" data-ng-init="SubTask.task_status"></switch>
                        </div>
     
                        <div class="form-group">
                                <label for="deletion">Deletion</label>
                                <switch id="deletion" name="deletion" class="col-md-push-3" ng-model="SubTask.deletion" class="switch small green" data-ng-init="SubTask.deletion"></switch>
                            </div>
            
                <div ng-show="$root.team_count > 1">
                    <div class="form-group">
                        <label for="Team">Team Name</label>
                        <div class="dropdown">
                            <select class="form-control" id="Team" name="Team" data-ng-options="Team.team_id as Team.team_name for Team in TeamList" data-ng-change="loadGrid(); selectTask()" data-ng-model="team.selected" data-ng-init="team.selected = SubTask.team_id" required>
                                <option value="">Select the Team</option>
                            </select>               
                        </div>
                        <span ng-show="myForm.Team.$touched && myForm.Team.$invalid" class="text-danger">*required Team</span>
                    </div>
                </div>

                <div class="form-group">
                    <label for="task">Task Name</label>
                    <div class="dropdown">
                        <select class="form-control" id="task" name="task" data-ng-options="Task.task_id as Task.task_name for Task in TaskList" data-ng-model="task.selected" data-ng-init="task.selected = SubTask.task_id" required>
                            <option value="">Select the Task</option>
                        </select>
                        
                    </div>
                    <span ng-show="myForm.task.$touched && myForm.task.$invalid" class="text-danger">*required Task</span>
                </div>
                
                    <div class="form-group">
                        <label for="subtaskname">SubTask Name</label>
                        <input type="text" class="form-control" id="subtaskname" name="subtaskname" data-ng-model="SubTask.sub_task_name"/>
                        <span ng-show="myForm.subtaskname.$touched && myForm.subtaskname.$invalid" class="text-danger">*required Sub Task</span>
                    </div>
    
                    <div class="form-group">
                        <label for="about_cf">About CF</label>
                        <switch id="about_cf" name="about_cf" class="col-md-push-3" ng-model="SubTask.about_cf" class="switch small green" data-ng-init="SubTask.about_cf"></switch>
                    </div>
    
                    <div class="form-group">
                        <label for="have_st">CF Change</label>
                        <div class="dropdown">
                        <select class="form-control" data-ng-model="SubTask.cf_change" data-ng-init = " SubTask.cf_change = SubTask.cf_change">
                            <option value="1">YES</option>
                            <option value="0">NO</option>
                        </select>
                    </div>
                 </div>
    
                    <div class="form-group">
                            <label for="op_type">OP Type</label>
                            <div class="dropdown">
                            <select class="form-control" data-ng-model="SubTask.op_type" data-ng-init = "SubTask.op_type = SubTask.op_type">
                                <option value="1">True</option>
                                <option value="0">False</option>
                            </select>
                        </div>
                     </div
            </div>
        </div>
        </div>
        </form>
    
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-disabled="myForm.$invalid" type="button" ng-click="saveSubTask(SubTask)">Save</button>
        <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
    </div>
    